<p>
  <a href="http://kopimi.ee/scripture.html">Kopimi</a> vaimus <span style="font-weight: bolder;"><3</span> + <!--[if lte IE 8]><span style="filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); display: inline-block;"><![endif]-->
<span style="font-weight: bolder; font-size: 1.25em; vertical-align: -6%; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -khtml-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); display: inline-block;">
        &copy;
</span>
<!--[if lte IE 8]></span><![endif]--> {{ site.time | date: "%Y" }} — {{ site.author }} —
  <span class="credit"><a href="http://octopress.org">Octopress</a> on mootor</span>
</p>
